body{margin:0;font-family:Arial;background:#f3f4f6}
header{
 background:#0b4ea2;color:white;
 padding:12px;
 display:flex;justify-content:space-between
}
.card{
 background:white;margin:12px;padding:12px;
 border-radius:10px;
 box-shadow:0 2px 6px rgba(0,0,0,.1)
}
.card img{width:100%;border-radius:8px}
.read{color:#2563eb;font-weight:bold}
